h1 {
  color: rgb(84, 84, 179);
  text-align: center;
  margin-top: 5%;
}

html {
  background-color: rgb(14, 14, 14);
}

* {
  margin: 0px;
  padding: 0px;
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
  }
  
#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719b9;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  margin-bottom: 25px;
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border: 3px solid rgb(26, 3, 175);
  text-align: center;
}

.logo {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid rgba(0, 93, 180, 0.867);
  color: rgba(0, 93, 180, 0.867);
}

#li_logo{
    background: url("imagenes/AmongFrito.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 87%;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: aqua;
}
