h1 {
  color: rgb(84, 84, 179);
  text-align: center;
  margin-top: 5%;
}

html {
  background-color: rgb(14, 14, 14);
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-size: cover;
}

p {
  text-align: center;
}

#botonQuitar {
  border: 0;
  background: url("imagenes/signo-de-menos.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  background-size: cover;
}

#boton_huevo {
  border: 0;
  background: url("imagenes/signo-de-menos.png");
  background-repeat: no-repeat;
  height: 455px;
  width: 500px;
  background-size: cover;
  background-position: center;
}

#boton {
  text-align: center;
}

#botonComprobarPass {
  margin-left: 1%;
}

#botonaceptarNombre {
  margin-left: 1%;
}

ul {
  text-align: center;
  color: rgb(182, 182, 196);
  font-size: larger;
}
