h1 {
  color: rgb(84, 84, 179);
  text-align: center;
  margin-top: 5%;
}

html {
  background-color: rgb(14, 14, 14);
}

button{
  text-align: center;
}

#boton_huevo {
  background-color: aqua;
  background-image: url("imagenes/huevo.jpg");
  background-repeat: no-repeat;
  height: 600px;
  width: 700px;
  background-size: cover;
}

#boton {
  text-align: center;
}
