h1 {
  color: rgb(84, 84, 179);
  text-align: center;
  margin-top: 5%;
}

html {
  background-color: rgb(14, 14, 14);
}

#boton_huevo {
  background-color: aqua;
  background-image: url("imagenes/huevo.jpg");
  background-repeat: no-repeat;
  height: 60px;
  width: 70px;
  background-size: 50px 50px;
  background-position: center;
}

#boton {
  text-align: center;
}
